---
Checks: >
  -*,
  bugprone-use-after-move,
  bugprone-integer-division,
  bugprone-suspicious-string-compare,
  modernize-use-nullptr,
  modernize-use-override,
  performance-for-range-copy,
  performance-unnecessary-value-param,
  readability-redundant-*

WarningsAsErrors: '*'
...
